{% extends "base.html" %}
{% load socialaccount %}

{% block title %}Login{% endblock %}
{% block header_text %}Login{% endblock %}

{% block content %}
<div class="jumbotron">
	<form action="." method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="btn btn-info">Login</button>
        <a href="/accounts/signup" class="btn btn-info">Sign Up</a>
    </form>	
    <br/>
    <a class="btn btn-primary" href="{% provider_login_url "facebook" method="oauth2" %}">Facebook</a>
</div>

{% endblock %}
