{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Welcome{% endblock %}
{% block header_text %}Welcome{% endblock %}

{% block content %}
    <h1>Hello {{user}}</h1>
    <div class="alert alert-warning" id="buttonbox">
      <p>ButtonBox:</p>
      <button id="connection-button" class="btn btn-info">Connection Checker</button>
      <div style="margin-top: 20px" class="input-group">
        <input id="message" type="text" class="form-control" placeholder="Message">
        <div class="input-group-append">
          <button id="message-button" class="btn btn-outline-secondary" type="button">Send</button>
        </div>
      </div>
    </div>
    <div class="alert alert-info" id="infobox">
      <p>InfoBox</p>
    </div>
    <div class="alert alert-success" id="messagebox">
      <p>MessageBox</p>
    </div>
{% endblock %}

{% block extra_body %}

<script src="{% static "js/websocket-initialize.js" %}" type="text/javascript"></script>
<script>
    $('#connection-button').click(function(){
      window.socket.send(JSON.stringify({"command": "check"}));
    })
    $('#message-button').click(function(){
      window.socket.send(JSON.stringify(
        {
          "command": "message",
          "message": $("#message").val(),
        }));
    })
</script>
{% endblock %}
