{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Welcome{% endblock %}
{% block header_text %}Welcome{% endblock %}

{% block content %}
  <div class="jumbotron">
  {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
  {% endif %}
  <h1>Hello {{user}}</h1>
  <div class="alert alert-info">
    <form method="get" action="{% url 'new_game' %}">
      <p>New game:</p>      
      <input type="text" name="players_amount" placeholder="players_amount">
      <button class="btn btn-info" type="submit">Create Game</button>
    </form>
  </div>  
  <div>
    {% for game in games %}
        <div class="alert alert-success">
          <form method="get" action="{% url 'board' game.id %}">
            <p>Game hosted by {{ game.host }}:</p>
            <input type="text" name="code" placeholder="Code">
            <div>
              <button type="submit" class="btn btn-success">Connect</a>
            </div>
          </form>
        </div>
    {% empty %}
        <p class="empty">No games defined.</p>
    {% endfor %}
  </div>
{% endblock %}

{% block extra_body %}
{% endblock %}
