{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Board{% endblock %}
{% block content %}
    <div id="board">
        <div>
            <div id="pos12"></div>
            <div id="pos13"></div>
            <div id="pos14"></div>
            <div id="pos15"></div>
            <div id="pos16"></div>
            <div id="pos17"></div>
            <div id="pos18"></div>
        </div>
        <div>
            <div id="pos11"></div>
            <div></div><div></div><div></div><div></div><div></div>
            <div id="pos19"></div>
        </div>
        <div>
            <div id="pos10"></div>
            <div></div><div></div><div></div><div></div><div></div>
            <div id="pos20"></div>
        </div>
        <div>
            <div id="pos9"></div>
            <div></div><div></div><div></div><div></div><div></div>
            <div id="pos21"></div>
        </div>
        <div>
            <div id="pos8"></div>
            <div></div><div></div><div></div><div></div><div></div>
            <div id="pos22"></div>
        </div>
        <div>
            <div id="pos7"></div>
            <div></div><div></div><div></div><div></div><div></div>
            <div id="pos23"></div>
        </div>
        <div>
            <div id="pos6"></div>
            <div id="pos5"></div>
            <div id="pos4"></div>
            <div id="pos3"></div>
            <div id="pos2"></div>
            <div id="pos1"></div>
            <div id="pos0">
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <button id="dice-button" class="btn btn-outline-secondary" type="button">Roll a Dice</button>        
        <button id="join-button" class="btn btn-outline-secondary" type="button">Join</button>        
    </div>
{% endblock %}
    
{% block extra_body %}
    <script src="{% static "js/websocket-board.js" %}" type="text/javascript"></script>
    <script src="{% static "js/board.js" %}" type="text/javascript"></script>
    <script>
            $('#dice-button').click(function(){
              window.socket.send(JSON.stringify({
                  "command": "move",
                  "player_id": "1"
                }));
            })

            $('#join-button').click(function(){
              window.socket.send(JSON.stringify({
                  "command": "join",
                }));
            })
    </script>
{% endblock %}
