{% extends "base_mobile.html" %}
{% load staticfiles %}
{% block title %}Client{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 id="balance">0</h1>
        <p></p>
        <button id="dice-button" class="btn btn-outline-secondary" type="button">Roll a Dice</button>        
        <button id="buy-button" class="btn btn-outline-secondary" type="button">Buy</button>
        <button id="end-round-button" class="btn btn-outline-secondary" type="button">End round</button>
        <p></p>
        <div id="properties" class="list-group">
        </div>

    </div>
{% endblock %}
    
{% block extra_body %}
    <script src="{% static "js/websocket-client.js" %}" type="text/javascript"></script>
    <script src="{% static "js/board.js" %}" type="text/javascript"></script>
    <script>

        $('#dice-button').click(function(){
            window.socket.send(JSON.stringify({
                "command": "move",
                "player_id": "1"
            }));
        });
        $('#buy-button').click(function(){
            console.log("buy button click");
        });
        $('#end-round-button').click(function(){
            console.log("end-round button click");
        })



    </script>
{% endblock %}
