.color-group-0 .apartments{
    background-color: #E8C51A;

}
.color-group-1 .apartments{
    background-color: #E8901A;

}
.color-group-2 .apartments{
    background-color: #4022A0;

}
.color-group-3 .apartments{
    background-color: #195F95;

}
.color-group-4 .apartments{
    background-color: #15BA15;

}
.color-group-5 .apartments{
    background-color: #E81A1A;

}
.color-group-6 .apartments{
    background-color: #971197;

}
.color-group-7 .apartments{
    background-color: #BEE019;
}

#board{
    /* background: url('/static/img/board.png'); */
    background-size: cover;
    width: 90vh;
    height: 90vh;
    margin: 1vh auto 0 auto;
    border: 1px solid #000;
    display: table;
}
#board > div{
    display: table-row;
}
#board > div > div{
    display: table-cell;
    position: relative;
    width: 14%;
    height: 14%;
}

#board .pointer{
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    position: absolute;  
}

#board .pointer#player0{
    background-color: red;
    border: 2px solid darkred;
    top: 2vh;
    left: 2vh;
}

#board .pointer#player1{
    background-color: green;
    border: 2px solid darkgreen;  
    top: 2vh;
    right: 2vh;
}

#board .pointer#player2{
    bottom: 2vh;
    left: 2vh;
    background-color: blue;
    border: 2px solid darkblue;  
}

#board .pointer#player3{
    bottom: 2vh;
    right: 2vh;
    background-color: orchid;
    border: 2px solid darkorchid;  
}

.bought{
    background-color: #ddd;
}

.position .name{
    position: absolute;
    font-size: 2vh;
}

.player_disconnected{
    opacity: 0.3;
}

.position{
    border: 1px solid #000;
}

.bottom-row .apartments{
    border-bottom: 2px solid #000;
    display: table;
    width: 100%;
    height: 4vh;
}
.bottom-row .apartments div{
    display: table-cell;
}

.center-row .apartments{
    display: table;
    width: 4vh;
    height: 100%;
}
.center-row .apartments div{
    display: table-row;
}

.top-row .apartments{
    border-bottom: 2px solid #000;
    display: table;
    width: 100%;
    height: 4vh;
}
.top-row .apartments div{
    display: table-cell;
}

#pos1,
#pos2,
#pos3,
#pos4,
#pos5{
    border-top: 2px solid #000;
}
#pos7 ,
#pos8 ,
#pos9 ,
#pos10,
#pos11{
    border-right: 2px solid #000;
}
#pos7  .apartments,
#pos8  .apartments,
#pos9  .apartments,
#pos10 .apartments,
#pos11 .apartments{
    border-left: 2px solid #000;
    float: right;
}
#pos13,
#pos14,
#pos15,
#pos16,
#pos17{
    border-bottom: 2px solid #000;
}
#pos19,
#pos20,
#pos21,
#pos22,
#pos23{
    border-left: 2px solid #000;
}
#pos19 .apartments,
#pos20 .apartments,
#pos21 .apartments,
#pos22 .apartments,
#pos23 .apartments{
    border-right: 2px solid #000;
}

.apartment-bought{
    background: repeating-linear-gradient( -45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 0.6vh, rgba(255, 255, 255, 0.4) 0.6vh, rgba(255, 255, 255, 0.4) 1.1vh );
}

/* .center-row .apartments .building {
    width: 100%;
    height: 20%;
    background-color: white;
    display: table-cell;
    border-style: double;
}

.top-row .apartments .building {
    width: 20%;
    height: 20px;
    background-color: white;
    display: table-cell;
    border-style: double;
}

.top-row .apartments .building {
    width: 20%;
    height: 20px;
    background-color: white;
    display: table-cell;
    border-style: double;
} */